ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid green;
    margin: 0 auto;
}

li {
    border: 1px solid red;
    width: 20%;
    height: 100px;    
}

span {
    display: none;
}

.checked {
    color: orange;
}